@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sarina&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.grid {
  display: grid;
}

body {
  justify-content: space-between;
}

/* -------------------------------- HEADER -------------------------------- */

header {
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  border-bottom: 1px solid black;
}

#search {
  margin: auto;
}

#search-label {
  display: none;
}

/* -------------------------------- MAIN -------------------------------- */
#location-info {
  text-align: center;
  grid-column: 1 / span 2;
}

#home {
  width: clamp(20rem, calc(100% * 2 / 3), 100rem);
  margin: auto;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: auto;
}

#week {
  grid-column: 2 / 3;
  grid-row: 2 / span 4;
}

.day {
  grid-template-columns: repeat(4, 1fr);
}

.icon {
  height: 2.5rem;
  aspect-ratio: 1/1;
  margin: auto;
}

#current {
  grid-template-columns: 1fr 1fr;
}

#current-icon {
  height: 10rem;
  aspect-ratio: 1/1;
  margin: auto;
}

#details {
  grid-template-columns: 1fr 1fr;
}

.hour {
  grid-template-columns: repeat(4, 1fr);
}
