@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sarina&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
}

:root {
  --grey: #d0d0d0;
  --translucent-black1: #000000f0;
  --translucent-black2: #00000080;
  --gap-width: 1rem;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

body {
  min-height: 100vh;
  justify-content: space-between;
  background-color: var(--grey);
  background-size: cover;
}

/* -------------------------------- HEADER -------------------------------- */

header {
  position: sticky;
  top: 0;
  width: 100%;
  color: white;
  background: linear-gradient(
    var(--translucent-black1),
    var(--translucent-black2)
  );
  padding: 1rem 4rem 0 4rem;
}

#header-top {
  grid-template-columns: 1fr 1fr 1fr;
}

#logo {
  height: 3rem;
  aspect-ratio: 1/1;
}

#app-name {
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
  vertical-align: top;
  font-weight: 300;
  letter-spacing: 0.05em;
}

#search {
  margin: auto;
}

#search,
#unit-selector {
  height: 2rem;
  border-radius: 1rem;
  padding: 0.25rem;
  background-color: white;
}

#search-label {
  display: none;
}

#search-input {
  height: 1.5rem;
  border: none;
  border-radius: 0.75rem;
  padding-left: 0.5rem;
}

button {
  height: 1.5rem;
  border: none;
  border-radius: 0.75rem;
  background-color: inherit;
}

#search-button {
  width: 2rem;
}

button:hover {
  cursor: pointer;
  background-color: var(--grey);
}

#unit-selector {
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto 0 auto auto;
  gap: 0.25rem;
}

.unit-button {
  width: 4rem;
}

.selected {
  background-color: var(--grey);
}

#header-bottom {
  padding-top: 0.25rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

#location-info {
  text-align: center;
  margin: auto;
}

#error {
  color: red;
}

/* -------------------------------- MAIN -------------------------------- */
#home {
  width: clamp(55rem, calc(100% * 2 / 3), 100rem);
  grid-template-columns: 3fr 2fr;
  grid-auto-rows: auto;
  margin: 1rem auto;
}

#week {
  grid-column: 2 / 3;
  grid-row: 1 / span 3;
  margin-left: calc(var(--gap-width) / 2);
}

#week,
#current,
#details,
#hours {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 0 0.5rem 0 var(--translucent-black2);
}

.day {
  height: 5rem;
  grid-template-columns: repeat(4, 1fr);
  padding: 0.25rem;
}

.day,
.hour {
  flex: auto;
}

.day > *,
.hour > * {
  margin: auto 0;
}

.day > p,
.hour > p,
#details > p {
  font-size: 1.25rem;
}

.day:not(:first-child) {
  border-top: 1px solid var(--grey);
}

.medium-icon {
  height: 2.5rem;
  aspect-ratio: 1/1;
}

#current,
#details,
#hours {
  margin-right: calc(var(--gap-width) / 2);
}

#current {
  grid-template-columns: 1fr 1fr;
}

#current-weather {
  justify-content: space-evenly;
}

#current-temp {
  font-size: 6rem;
}

#current-conditions,
#current-high-low {
  font-size: 1.5rem;
}

#current-icon {
  height: 10rem;
  aspect-ratio: 1/1;
  margin: auto;
}

#details {
  grid-template-columns: repeat(4, 1fr);
  margin-top: 1rem;
}

#details > * {
  border-bottom: 1px solid var(--grey);
}

.detail-name:nth-child(4n + 3) {
  margin-left: 1rem;
}

.detail-value:nth-child(4n + 2) {
  margin-right: 1rem;
}

.detail-value {
  text-align: right;
}

.detail-name > *,
.detail-value > * {
  vertical-align: middle;
}

#hours {
  margin-top: 1rem;
}

.hour {
  grid-template-columns: repeat(4, 1fr);
  padding: 0.25rem;
}

.hour:not(:first-child) {
  border-top: 1px solid var(--grey);
}

/* -------------------------------- FOOTER -------------------------------- */
footer {
  padding: 1rem;
  background-color: var(--translucent-black2);
  text-align: center;
  color: white;
}

footer a {
  color: inherit;
}
